{% extends "main/base.html" %}

{% block content %}
<div class="container">
    <div class="card bg-secondary text-black mt-5">
        <div class="card-body">
            <h3 class="card-title h1">Welcome to our Discussion Forum!</h3>
            <p class="card-text mt-4 h5 ">Join our vibrant community where you can:</p>
            <ul class="list-group text-black ">
                <li class="list-group-item forum-item">Engage in lively discussions on various topics.</li>
                <li class="list-group-item forum-item">Share your insights and experiences.</li>
                <li class="list-group-item forum-item">Learn from diverse perspectives.</li>
                <li class="list-group-item forum-item">Connect with like-minded individuals.</li>
            </ul>
            <p class="card-text mt-4 h5">Whether you're a seasoned expert or just starting out, there's something for everyone in our forum.</p>
            <p class="card-text mt-4 h5">So, why wait? Join the conversation today!</p>
        </div>
    </div>
</div>
{% endblock content %}

{% block title %}
<title>About - Discussion Forum</title>
{% endblock title %}
