{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <h5> <strong> {{ question.title }}</strong> </h5>
    <!-- Display Question Image -->
    {% if question.image %}
    <img src="{{ question.image.url }}" alt="Question Image" class="img-fluid mb-2">
    {% endif %}
    <form method="POST" enctype="multipart/form-data"> <!-- Include enctype="multipart/form-data" for image upload -->
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form|crispy }}
            <div class="form-group">
                <label for="id_image">Image</label>
                <input type="file" name="image" class="form-control-file" id="id_image">
            </div>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Submit</button>
        </div>
    </form>
</div>
{% endblock content %}
